header {
  background-color: var(--header-color);
  padding: 10px 16px;
}

header ~ .content {
  background-color: var(--container-background-color);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

main .page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width);
  padding: 0 15px;
}

main .page-content > header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 30px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

main .page-content > header p {
  font-size: 24px;
  font-weight: 400;
}

main .page-content > header .badge {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .page-content > header .badge::after {
  content: "NEW";
  width: 200px;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: var(--markup-color);
  transform: rotate(45deg);
  top: 15px;
  padding: 5px 0;
  position: absolute;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 410px;
  display: grid;
  grid-template-columns: 290px auto;
  grid-template-rows: 164px 236px;
  gap: 10px;
  padding: 0 5px;
}

.container aside {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
}

.container section.input-date-time {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
}

.container section.draw-list {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
}

.container .draw-list {
  grid-row-start: 2;
  grid-row-end: 3;
}

.container aside .content {
  padding: 18px 16px;
  flex: 1;
}

.container aside .content p {
  font-size: 14px;
  font-weight: 400;
}

.container aside .content p:not(:last-of-type) {
  margin-bottom: 18px;
}

.container .input-date-time .content {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 16px;
}
.container .input-date-time .content input,
.container .input-date-time .content button {
  height: 35px;
  border: 0;
}

.container .input-date-time .content input {
  width: 260px;
  font-size: 16px;
  padding: 10px;
}

.container .input-date-time .content button {
  font-family: inherit;
  width: 140px;
  background-color: var(--button-color);
  font-size: 16px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.35s ease;
  letter-spacing: 1px;
}

.container .input-date-time .content button:not([disabled]):hover {
  transform: scale(1.05);
  background-color: white;
  color: rgb(250, 62, 0);
}

.container .input-date-time .content button[disabled] {
  filter: grayscale(0.5);
  cursor: not-allowed;
}

.container .draw-list header {
  display: flex;
  align-items: flex-start;
  display: grid;
  grid-template-columns: 130px auto;
  font-size: 12px;
  font-weight: medium;
  padding: 12px 10px;
}

.container .draw-list .content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: auto;
  perspective: 100px;
}

.container .draw-list .content .draw-list-item {
  width: 100%;
  display: grid;
  grid-template-columns: 130px auto;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.75s cubic-bezier(0.36, -0.64, 0.34, 1.76);
  animation: slide-down 0.75s;
}

.container .draw-list .content .draw-list-item:nth-of-type(odd) {
  background-color: var(--list-item-background);
}

.container .draw-list .content .draw-list-item:hover {
  background-color: #e1e2e3;
  color: black;
}

.container .draw-list .content .draw-list-item > div {
  padding: 12px 10px;
  position: relative;
}

.container .draw-list .content .draw-list-item .draw-date:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-left: 1px solid black;
  height: 19px;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .content {
  background-color: white;
  width: 100%;
  max-width: 300px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  animation: show-modal 0.5s ease;
}

.modal .content h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
}

.modal .content button {
  border: 0;
  background-color: black;
  color: white;
  padding: 10px 30px;
  transition: all 0.15s ease;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.modal .content button:hover {
  background-color: var(--button-color);
  color: white;
}

@media only screen and (max-width: 780px) {  

  main {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 0;
  }

  main .page-content {
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 15px;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-height: 100%;
  }

  .container .input-date-time {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .container .input-date-time .content {
    justify-content: center;
    padding: 15px 0;
  }

  .container .input-date-time .content button:not([disabled]):hover {
    transform: scale(1);
    background-color: var(--button-color);
    color: white;
  }
}

@media only screen and (max-width: 460px) {
  .container .input-date-time .content {
    flex-direction: column;
    padding: 15px;
  }

  .container .input-date-time .content button {
    width: 100%;
  }

  .container .input-date-time .content input {
    width: 100%;
  }
}

@keyframes slide-down {
  0% {
    height: 0;
    transform: scale(0);
    opacity: 0;
    filter: contrast(0.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    height: 40px;
    opacity: 1;
    filter: contrast(1);
  }
}

@keyframes show-modal {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animated-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-loading span {
  position: relative;
  top: 2px;
  animation: bounce 0.3s ease infinite alternate;
  letter-spacing: 1px;
  font-size: 16px;
}

.animated-loading span:nth-of-type(1) {
  animation-delay: 0.15s;
}

.animated-loading span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.animated-loading span:nth-of-type(3) {
  animation-delay: 0.25s;
}

.animated-loading span:nth-of-type(4) {
  animation-delay: 0.3s;
}

.animated-loading span:nth-of-type(5) {
  animation-delay: 0.35s;
}

.animated-loading span:nth-of-type(6) {
  animation-delay: 0.4s;
}

.animated-loading span:nth-of-type(7) {
  animation-delay: 0.45s;
}

.animated-loading span:nth-of-type(8) {
  animation-delay: 0.5s;
}

.animated-loading span:nth-of-type(9) {
  animation-delay: 0.55s;
}

.animated-loading span:nth-of-type(10) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  100% {
    top: -2px;
  }
}
